



#root {
  background: url(../src/images/Background.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

#Tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font: italic;
}