



#root {
  background: url(../src/images/backgroundimg.png);
  background-size: cover;
}

#Tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font: italic;
}