


.App {
  background: url(../src/images/backgroundimg.png) ;
  color: aliceblue;
  height: 100%;
  width: 100%;
}

#root {
  background: url(../src/images/backgroundimg.png);
  background-size: cover;
}
