body {
	background-color: green;
	width: 100%;

}

.tag {
	text-align: center;
}

.slick-slide img {
	margin: 5rem;
	padding: 0;
	width: 15rem;
	height: 10rem;
	
}

.product-carousel {
	margin: auto;
	max-width: 100% -20px; /* or any width you want */
  }
  
  .slick-slide {
	margin: 0 20px;
  }
  
  .slick-list {
	margin: 0 -20px;
  }
  
  .slick-center {
	transform: scale(1.1); /* optional - adds a zoom effect to the center image */
  }
  
  .slick-center .shop-item {
	border: 2px solid #333; /* optional - adds a border to the center image */
  }
  
  .imgslider {
	width: 90%;
	margin: 3rem;
  }
  

  @media (max-width: 768px) {
	.product-carousel {
	  max-width: 400px; /* or any width you want for smaller screens */
	}
  }
  
