body {
	background-color: green;

}

.tag {
	text-align: center;
}

.slick-slide img {
	margin: 0;
	width: 50%;
	height: 50%;
}

.slicktrack {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slicklist {
	display: flex;
	align-items: center;
	justify-content: center;
}